.bg-1 {
    background-color: hsl(228, 55%, 65%);
    color: #fff;
}

.bg-2 {
    background-color: hsl(199, 56%, 64%);
    color: #fff;
}

.bg-3 {
    background-color: hsl(48, 62%, 71%);
    color: #000;
}

.bg-4 {
    background-color: hsl(245, 62%, 75%);
    color: #fff;
}

.bg-5 {
    background-color: hsl(245, 77%, 68%) !important;
    color: #fff !important;
}

.bg-6 {
    background-color: hsl(14, 71%, 75%);
    color: #fff;
}

.bg-7 {
    background-color: hsl(124, 55%, 74%);
    color: #000;
}

.bg-8 {
    background-color: hsl(180, 57%, 74%);
    color: #000;
}

.bg-9 {
    background-color: hsl(285, 65%, 73%);
    color: #fff;
}
